:root
{
    --breakpoint-mobile: 375px;
    --Red: hsl(14, 86%, 42%);
    --Green: hsl(159, 69%, 38%);
    --Rose-50: hsl(20, 50%, 98%);
    --Rose-100: hsl(13, 31%, 94%);
    --Rose-300: hsl(14, 25%, 72%);
    --Rose-400: hsl(7, 20%, 60%);
    --Rose-500: hsl(12, 20%, 44%);
    --Rose-900: hsl(14, 65%, 9%);
    --light-text: 400;
    --medium-text: 600;
    --bold-text: 700;
}

*
{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: var(--light-text);
    background-color: var(--Rose-100);
    /* display: flex;
    align-items: baseline; */
    width: 100%;
    height: 100vh;
  }

  .main-content
  {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
.products-list
{
    width: 55%;
    /* margin: 50px; */
}

.cards-container
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card
{
    position: relative;
    width: min-content;

    margin: 10px;
}

.image-container
{
    width: 60%;
    position: relative;
}

.image-container img
{
    width: 314px;
    border-radius: 10px;
}

.product-information
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
}
.product-information .category
{
    color: var(--Rose-500);
    font-weight: var(--light-text);
}
.product-information .product-name
{
    color: var(--Rose-900);
    font-weight: var(--medium-text);
}
.product-information .product-price
{
    color: var(--Red);
    font-weight: var(--medium-text);
}
.button-container
{
    width: 100%;
    display: flex;
    justify-content: center;

}
.add-to-cart
{
    position:absolute;
    bottom: 68px;
    background-color: white;
    border-color: var(--Rose-300);
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
    width: 60%;
    border-radius: 20px;
    padding: 7px;
    justify-content: space-evenly;

}

.title
{
    width: 100%;
    margin: 10px;
    color: var(--Rose-900);
    font-weight: --(--bold-text);
    font-size: 20px;
}

.cart {
    width: 24%;
    height: 300px;
    background-color: white;
    /* padding: 20px; */
    border-radius: 10px;
    /* margin-right: 4px; */
    margin-left: 105px;
}

.cart-content {
    width: 100%;
    height: 100%;
    /* display: flex
; */
    /* flex-direction: column; */
}

.cart-content h2 {
    color: var(--Red);
    width: 100%;
    font-weight: var(--bold-text);
    /* margin: 20px; */
    height: 20%;
    display: flex
;
    align-items: center;
    margin-left: 20px;
}

.cart-empty-container {
    display: flex
;
    width: 100%;
    height: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cart-empty-container figcaption
{
    color: var(--Rose-500);
    font-weight: var(--medium-text);
    font-size: 14px;
}